*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagen_producto{
    display: flex;
    justify-content: center;
    flex-direction: column;  
}

.imagen_producto img{
    align-self: center;
    border-radius: 1rem;
    width: 80%;
    max-width: 100vw;
}

.imagen_producto p{
    margin-top: 1rem;
    font-weight: 500;
    text-align: center;
}

.imagen_producto div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 2rem;
    margin-left: 2rem;
}

.imagen_producto div h3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem;

}

.button_size{
    background-color: rgba(240, 248, 255, 0);
    color: white;
    border: 0.1rem solid;
    border-radius: 0.5rem;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    margin:auto;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}
.button_size:hover{
    border: 0.1rem solid rgba(194, 84, 84, 0.657);
}

.compraritem{
    background-color: rgba(190, 40, 80, 0.694);
    border: 0.1rem solid red;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
    margin:auto;
    margin-bottom: 0.5rem;
    margin-top: 2rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.compraritem a svg{
    scale: 1.5;
}

.compraritem:hover{
    scale: 1.2;
}



@media (min-width: 640px) {
    * {
        max-width: none; /* Limita el ancho máximo de los elementos en la versión de escritorio */
    }

    .imagen_producto img{
        align-self: center;
        border-radius: 1rem;
        width: 20%;
        max-width: 100vw;
    }

    .imagen_producto div {
        margin-top: 1rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }

    .footer{
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .footer p{
        text-align: center;
        width: 100%;
    }

    .button_size{
        background-color: rgba(240, 248, 255, 0);
        color: white;
        border: 0.1rem solid;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem 0.5rem 1rem;
        margin:1rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: bolder;
    }
}